services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - /path/to/local/d–∞ta:/root/redis
      - /path/to/local/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      REDIS_PASSWORD: root
      REDIS_PORT: 6379
      REDIS_DATABASES: 16
  sonarqube:
    image: sonarqube:lts-community
    depends_on:
      - sonar_db
    restart: always
    environment:
      SONAR_JDBC_URL: jdbc:postgresql://sonar_db:5432/sonar
      SONAR_JDBC_USERNAME: sonar
      SONAR_JDBC_PASSWORD: sonar
    ports:
      - "9000:9000"
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
      - sonarqube_temp:/opt/sonarqube/temp
  sonar_db:
    image: postgres:17.2
    restart: always
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar
    volumes:
      - sonar_db:/var/lib/postgresql
      - sonar_db_data:/var/lib/postgresql/data
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - '2181:2181'
  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9091,PLAINTEXT_HOST://localhost:9092,PLAINTEXT_KAFKA_HOST://kafka:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,PLAINTEXT_KAFKA_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
#      TZ: Europe/Kiev
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: kafka_db
      MYSQL_ROOT_HOST: '%'
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --default-time-zone=UTC
    ports:
      - '3306:3306'
    volumes:
      - mysql:/var/lib/mysql
  sb_kafka_pub:
    depends_on:
      - mysql
      - kafka
    container_name: sb_kafka_pub
    build:
      dockerfile: Dockerfile
    image: sb_kafka_pub:latest
    ports:
      - '8081:8081'
    environment:
      SPRING_PROFILES_ACTIVE: Publisher, docker
  sb_kafka_cons:
    depends_on:
      - mysql
      - kafka
      - sb_kafka_pub
    container_name: sb_kafka_cons
    build:
      dockerfile: Dockerfile
    image: sb_kafka_cons:latest
    ports:
      - '8082:8082'
    environment:
      SPRING_PROFILES_ACTIVE: Consumer, docker
  sb_kafka_hibernate:
    depends_on:
      - mysql
      - redis
    container_name: sb_kafka_hibernate
    build:
      dockerfile: Dockerfile
    image: sb_kafka_hibernate:latest
    ports:
      - '8083:8083'
    environment:
      SPRING_PROFILES_ACTIVE: Hibernate, docker
volumes:
  mysql:
    driver: local
  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  sonarqube_temp:
  sonar_db:
  sonar_db_data:
